
@font-face {
  font-family:'fuenteH1';
  src : url('font/Chocolate_and_Vanilla.ttf');
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 115%;
}

header,footer{
  background-color:#BAB9AF;
}

main{
  background-color:#F5D336;
  font-size: 115%;
}
/*
li{
  display:inline-block;
  margin-right: 60px;
  I used margin-right, because it helped me with the separation between words in the list
}
*/
nav{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    height: 90px;
  padding: 20px 30px;
}


ul{
  display:flex;
  list-style-type:none; /*from the up to end*/
  padding: 30px;
  margin-right:70px;
}

ul li a{
  text-decoration: underline;
  text-align: center;
  color:#000FFF;
  font-size:20px;
  margin-right:180px;
  font-weight:bold;
}

ul li a:visited{
  color:#800080;
}



h1{
  color:#000FFF;
  font-family: 'fuenteH1',Helvetica, sans-serif;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 30px;
}

img[src^="images/BaconGallupPark"]{
  width: 70px;
  height: auto;
  /*center the imagen better*/
  position:relative;
  top:20px;
}

.grid{
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
  align-items: center;
  row-gap: 30px; /*without this the images come out stuck together*/
}

.grid img{
  width:100%;
}

body{
  background-color:#FFDDD6;
}

a:visited{
  font-family: Arial,Helvetica, sans-serif;
  color:#000FFF;
}
